
<!DOCTYPE html>
<html lang="en" ng-app="searchEngineApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Eniro Test App</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">

    <script src="assets/js/angular/angular.js"></script>
    <script src="assets/js/angular/angular-resource-1.2.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="shared/app.js"></script>
    <script src="shared/search/searchService.js"></script>
    <script src="shared/search/searchCtrl.js"></script>
</head>

<body ng-controller="searchCtrl">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Eniro Test App</a>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <br>

    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control input-sm" ng-model="searchQuery.params" placeholder="Wpisz szukaną frazę" ng-pattern="[0-9a-zA-Z]+(,[0-9a-zA-Z]+)*" required >
                </div>
                <div class="col-xs-3">
                    <input class="form-control input-sm" ng-model="searchQuery.filter" placeholder="Wpisz filtr">
                </div>
                <div class="col-xs-2"> <button class="btn btn-sm btn-default" ng-click="search()" type="button" > <i class="glyphicon glyphicon-search"></i> &nbsp;Szukaj </button></div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-striped ">
                        <tr ng-repeat="result in results">
                            <td>{{ result.companyName }}</td>
                            <td>{{ result.companyText }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-xs-3 col-sm-offset-1 ">
            Ostatnio wyszukiwane :
            <br/>
            <br/>
            <table class="table table-condensed table-striped">
                <tr ng-repeat="query in historicalQueries">
                    <td>{{ query.params }}</td>
                    <td>{{ query.filter }}</td>
                </tr>
            </table>


        </div>
        </div>
    </div>


</div><!-- /.container -->

</body>
</html>
